.TimelineItem {
  padding: 9px 12px;
  border-top: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  background: #fff;
  background-clip: padding-box;
}

.TimelineItem:first-child {
  border-radius: 6px 6px 0 0;
}

.TimelineItem:last-child {
  border-bottom: 1px solid #e1e8ed;
  border-radius: 0 0 6px 6px;
}

.TimelineItem__media {
  float: left;
  width: 58px;
}

.TimelineItem__content {
  margin-left: 58px;
}
