.UserProfile {
  position: relative;
  border: 1px solid #e1e8ed;
  background: #fff;
  border-radius: 6px;
}

.UserProfile__background {
  background: #0084B4;
  background-size: 100%;
  border-bottom: 1px solid #e1e8ed;
  height: 95px;
  border-radius: 4px 4px 0 0;
  background-position: 0 50%;
  width: 100%;
}

.UserProfile__avatar {
  height: 72px;
  width: 72px;
  margin: -30px 0 0 8px;
  padding: 1px;
  border: 2px solid #fff;
  border-radius: 6px;
  background-color: #fff;
  vertical-align: bottom;
}

.UserProfile__fields {
  position: absolute;
  top: 103px;
  left: 90px;
  width: 185px;
}

.UserProfile__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: -1px 0 -2px 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.UserProfile__screen-name {
  font-size: 12px;
  padding-right: 5px;
  color: #66757f;
}

.UserProfile__stats {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.UserProfile__stat {
  margin-bottom: 0;
}

.UserProfile__stat-label {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: .02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color .15s ease-in-out;
}

.UserProfile__state-value {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding-top: 3px;
  transition: color .15s ease-in-out;
}
