.button {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-image: none;
  box-sizing: border-box;
  box-shadow: none;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  appearance: none;
  user-select: none;
  transition-property: border-color, background-color, color, box-shadow, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 166, 255, 0.5), 0 0 6px 0 rgba(0, 81, 178, 0.5), inset 0 0 4px 0 rgba(255, 255, 255, 0.75);
    outline: 0;
  }
}

.buttonIcon {
  display: inline-block;
  height: auto;
  vertical-align: middle;

  @nest .small & {
    width: 12px;
  }

  @nest .medium & {
    width: 14px;
  }

  @nest .large & {
    width: 18px;
  }
}

.leftIcon {
  composes: buttonIcon;

  @nest .small & {
    margin-left: -4px;
    margin-right: 8px;
  }

  @nest .medium & {
    margin-left: -2px;
    margin-right: 9px;
  }

  @nest .large & {
    margin-left: -2px;
    margin-right: 14px;
  }
}

.rightIcon {
  composes: buttonIcon;

  @nest .small & {
    margin-left: 8px;
    margin-right: -4px;
  }

  @nest .medium & {
    margin-left: 9px;
    margin-right: -2px;
  }

  @nest .large & {
    margin-left: 14px;
    margin-right: -2px;
  }
}

.fluid {
  display: block;
  width: 100%;
}

.small {
  height: 24px;
  padding: 0 0.75rem;
  font-size: 0.875rem;
}

.medium {
  height: 36px;
  padding: 0 0.75rem;
  font-size: 0.875rem;
}

.large {
  height: 48px;
  padding: 0 1rem;
  font-size: 1rem;
}

/* Solid Buttons */

.solid:not(:disabled) {
  border-color: color(#bfbfbf);
  background-color: color(#ffffff);
  color: color(#404040);
}

.solid:not(:disabled):link,
.solid:not(:disabled):visited {
  color: color(#404040);
}

.solid:not(:disabled):hover {
  background-color: color(#f2f2f2);
  border-color: color(#bfbfbf);
  color: color(#404040);
}

.solid:not(:disabled):active {
  background-color: color(#e5e5e5);
  border-color: color(#bfbfbf);
  color: color(#404040);
}

.solid:disabled {
  border-color: color(#e6e6e6);
  background-color: color(#fafafa);
  color: color(#bfbfbf);
  cursor: not-allowed;
}

/* Outline Buttons */

.outline {
  background: transparent;
}

.outline:not(:disabled) {
  border-color: color(#bfbfbf);
  background-color: transparent;
  color: color(#404040);
}

.outline:not(:disabled):link,
.outline:not(:disabled):visited {
  color: color(#404040);
}

.outline:not(:disabled):hover {
  background-color: color(#ffffff tint(12%));
  border-color: color(#bfbfbf tint(12%));
  color: color(#404040);
}

.outline:not(:disabled):active {
  background-color: color(#ffffff saturation(-10%));
  border-color: color(#bfbfbf saturation(-10%));
  opacity: 0.3;
}

.outline:disabled {
  border-color: color(#e6e6e6);
  color: color(#bfbfbf);
  cursor: not-allowed;
}

/* Flat Buttons */

.flat {
  border: 0;
  padding: 0;
  background: transparent;
}

.flat:not(:disabled) {
  border-color: transparent;
  background-color: transparent;
  color: color(#9d9d9d);
}

.flat:not(:disabled):link,
.flat:not(:disabled):visited {
  color: color(#9d9d9d);
}

.flat:not(:disabled):hover {
  border-color: transparent;
  background-color: color(#e8e8e8);
  color: color(#9d9d9d);
}

.flat:not(:disabled):active {
  border-color: transparent;
  background-color: color(#d4d4d4);
  color: color(#9d9d9d);
}

.flat:disabled {
  color: color(#e3e3e3);
  cursor: not-allowed;
}
