{
  "parser": "babel-eslint",
  "extends": "@flowio/flowio",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "global-require": "off",
    "react/jsx-filename-extension": 0
  }
}
