{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"],
      "aspects": ["noHref", "invalidHref", "preferButton"]
    }],
    "max-classes-per-file": "warn",
    "react/forbid-prop-types": "warn",
    "react/jsx-props-no-spreading": "warn",
    "react/require-default-props": "warn"
  }
}
