{
  "require": [
    "babel-register"
  ],
  "include": [
    "src/**/*.{js,jsx}"
  ],
  "exclude": [
    "examples/**/*"
  ],
  "extension": [
    ".js",
    ".jsx"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "all": true,
  "cache": true,
  "sourceMap": false,
  "instrument": false
}
