<!doctype html>
<html lang="en">
  <head>
    <title>Universal Twitter React Application</title>
    <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css" />
  </head>
  <body>
    <div id="react-root">{{{html}}}</div>
    <script>window.$REDUX_STATE = {{{initialState}}};</script>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
